 img{
   display: inline-flex;
   align-items: flex-end;
   opacity: 1;
   width: 300px;
   height: 300px;
   border-radius: 50%;
} 
.bear{
  display: flex;
}
.bear-item{
  width: 350px;
  font-size: 30px;
  transition: font-size .5s linear;
}
.bear-item:hover{
  font-size: 50px;
}